body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
        "sidebar header header"
        "sidebar config config"
        "sidebar config config";
}

header {
    grid-area: header;
    background: #F7F5F5;
}

nav {
    grid-area: sidebar;
    background: #F0EEEE;
}

main {
    grid-area: config;
}


.text { grid-area: text; }
.user-input { grid-area: user-input; }

@media only screen and (max-width: 768px) {
    body {
        grid-template-areas:
        "header header header"
        "config config config"
        "config config config";
    }

    header {
        grid-area: header;
        background: #F7F5F5;
    }
    
    nav {
        grid-area: sidebar;
        background: #F0EEEE;
    }
    
    main {
        grid-area: config;
    }
}